.button {
	-fx-background-radius: 2;
}

 #instructions
 {
 	-fx-alignment: center;
 }

 #globe {
 	-fx-background-radius: 10;
 }
 
 #roundedBorder {
 	-fx-background-color: red;
 	-fx-border-color: red;
 }
 
 #reportTitle {
 	-fx-font-size: 32px;
 }