.button {
	-fx-background-radius: 2;
}

 #instructions
 {
 	-fx-alignment: center;
 }

 #globe {
 	-fx-background-radius: 10;
 }
 
 #roundedBorder {
 	-fx-background-color: red;
 	-fx-border-color: red;
 }
 
 #reportTitle {
 	-fx-font-size: 32px;
 }
 
#fancytext {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
 
 